<h2>
<font face="Arial">Weekly Schedule Outline</font></h2>
<font face="Arial"><font size=-1>The typical training week for all programs
is as follows, in the suggested order, <b>with the most significant daily
session in bold.</b></font></font>
<ul>
<li>
<b><font face="Arial"><font size=-1>Monday:</font></font></b></li>

<dl>
<dd>
<b><font face="Arial"><font size=-1>Swim - moderate intensity &amp; duration</font></font></b></dd>

<dd>
<font face="Arial"><font size=-1>Bike - low intensity &amp; duration</font></font></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Tuesday:</font></font></b></li>

<dl>
<dd>
<b><font face="Arial"><font size=-1>Bike - moderate-to-high intensity,
moderate duration</font></font></b></dd>

<dd>
<font face="Arial"><font size=-1>Run - moderate intensity, lower duration</font></font></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Wednesday:</font></font></b></li>

<dl>
<dd>
<b><font face="Arial"><font size=-1>Swim - moderate-to-high intensity,
moderate duration</font></font></b></dd>

<dd>
<font face="Arial"><font size=-1>Bike - moderate intensity, low-to-moderate
duration</font></font></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Thursday:</font></font></b></li>

<dl>
<dd>
<font face="Arial"><font size=-1>Swim - low intensity, long duration</font></font></dd>

<dd>
<b><font face="Arial"><font size=-1>Run - high intensity, moderate duration</font></font></b></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Friday:</font></font></b></li>

<dl>
<dd>
<font face="Arial"><font size=-1>Complete recovery day</font></font></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Saturday:</font></font></b></li>

<dl>
<dd>
<b><font face="Arial"><font size=-1>Bike - longest duration, moderate-to-high
intensity</font></font></b></dd>

<dd>
<font face="Arial"><font size=-1>Run - moderate intensity &amp; low-to-medium
duration</font></font></dd>
</dl>

<li>
<b><font face="Arial"><font size=-1>Sunday:</font></font></b></li>

<dl>
<dd>
<b><font face="Arial"><font size=-1>Run - longest duration, lowest intensity</font></font></b></dd>

<dd>
<font face="Arial"><font size=-1>Bike - short duration, low intensity</font></font></dd>
</dl>
</ul>
</td></tr></table>

